<ScrollView sdkExampleTitle sdkToggleNavButton (scroll)="onScroll($event)">

    <FlexboxLayout #content style.zIndex="2" alignSelf="flex-start" flexDirection="column">
    	<Image #img style.zIndex="1" flexGrow="1" src="res://ashe_0" stretch="fill"></Image>
        <Label flexGrow="1" [text]="title" class="h2 p-l-15 p-r-15 p-t-15" textWrap="true"></Label>
        <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
        <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
        <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
        <Label flexGrow="1" [text]="title" class="h2 p-l-15 p-r-15 p-t-15" textWrap="true"></Label>
        <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
        <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
        <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
    </FlexboxLayout>

</ScrollView>